<a href="https://colab.research.google.com/github/TareFaith/AI-ML-Capstone-project-Refactory/blob/faithie/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Classroom/capstone_project_data/trainperf.csv")
df.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,good_bad_flag
0,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,NaN,Good
1,8a85886e54beabf90154c0a29ae757c0,301965204,2,2017-07-05 17:04:41.000000,2017-07-05 16:04:18.000000,15000.0,17250.0,30,NaN,Good
2,8a8588f35438fe12015444567666018e,301966580,7,2017-07-06 14:52:57.000000,2017-07-06 13:52:51.000000,20000.0,22250.0,15,NaN,Good
3,8a85890754145ace015429211b513e16,301999343,3,2017-07-27 19:00:41.000000,2017-07-27 18:00:35.000000,10000.0,11500.0,15,NaN,Good
4,8a858970548359cc0154883481981866,301962360,9,2017-07-03 23:42:45.000000,2017-07-03 22:42:39.000000,40000.0,44000.0,30,NaN,Good

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerid     4368 non-null   object
 1   systemloanid   4368 non-null   int64
 2   loannumber     4368 non-null   int64
 3   approveddate   4368 non-null   object
 4   creationdate   4368 non-null   object
 5   loanamount     4368 non-null   float64
 6   totaldue       4368 non-null   float64
 7   termdays       4368 non-null   int64
 8   referredby     587 non-null    object
 9   good_bad_flag  4368 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 341.4+ KB

In [ ]:
loan_type={'good': 1, 'bad':0}
def convert_good_bad(value):
    if isinstance(value, str):  # Check if value is a string
        lower_value = value.lower()  # Convert to lowercase
        return loan_type.get(lower_value, None)  # Map to numerical value
    else:
        return None  # Handle non-string values (e.g., NaN, unexpected entries)

# Apply conversion function to 'good_bad_flag' column
df['good_bad_flag'] = df['good_bad_flag'].apply(convert_good_bad)

# Print updated DataFrame
print(df)

                            customerid  systemloanid  loannumber  \
0     8a2a81a74ce8c05d014cfb32a0da1049     301994762          12
1     8a85886e54beabf90154c0a29ae757c0     301965204           2
2     8a8588f35438fe12015444567666018e     301966580           7
3     8a85890754145ace015429211b513e16     301999343           3
4     8a858970548359cc0154883481981866     301962360           9
...                                ...           ...         ...
4363  8a858e6d58b0cc520158beeb14b22a5a     302003163           2
4364  8a858ee85cf400f5015cf44ab1c42d5c     301998967           2
4365  8a858f365b2547f3015b284597147c94     301995576           3
4366  8a858f935ca09667015ca0ee3bc63f51     301977679           2
4367  8a858fd458639fcc015868eb14b542ad     301967124           8

                    approveddate                creationdate  loanamount  \
0     2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000     30000.0
1     2017-07-05 17:04:41.000000  2017-07-05 16:04:18.000000     15000.0
2     2017-07-06 14:52:57.000000  2017-07-06 13:52:51.000000     20000.0
3     2017-07-27 19:00:41.000000  2017-07-27 18:00:35.000000     10000.0
4     2017-07-03 23:42:45.000000  2017-07-03 22:42:39.000000     40000.0
...                          ...                         ...         ...
4363  2017-07-30 09:19:42.000000  2017-07-30 08:18:30.000000     10000.0
4364  2017-07-27 15:35:47.000000  2017-07-27 14:35:40.000000     10000.0
4365  2017-07-25 16:25:57.000000  2017-07-25 15:24:47.000000     10000.0
4366  2017-07-14 13:50:27.000000  2017-07-14 12:50:21.000000     10000.0
4367  2017-07-06 21:01:06.000000  2017-07-06 20:01:01.000000     30000.0

      totaldue  termdays                        referredby  good_bad_flag
0      34500.0        30                               NaN              1
1      17250.0        30                               NaN              1
2      22250.0        15                               NaN              1
3      11500.0        15                               NaN              1
4      44000.0        30                               NaN              1
...        ...       ...                               ...            ...
4363   13000.0        30                               NaN              0
4364   13000.0        30                               NaN              0
4365   11500.0        15                               NaN              0
4366   13000.0        30  8a858eda5c8863ff015c9dead65807bb              0
4367   34500.0        30                               NaN              0

[4368 rows x 10 columns]

In [ ]:
df.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,good_bad_flag
0,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,NaN,1
1,8a85886e54beabf90154c0a29ae757c0,301965204,2,2017-07-05 17:04:41.000000,2017-07-05 16:04:18.000000,15000.0,17250.0,30,NaN,1
2,8a8588f35438fe12015444567666018e,301966580,7,2017-07-06 14:52:57.000000,2017-07-06 13:52:51.000000,20000.0,22250.0,15,NaN,1
3,8a85890754145ace015429211b513e16,301999343,3,2017-07-27 19:00:41.000000,2017-07-27 18:00:35.000000,10000.0,11500.0,15,NaN,1
4,8a858970548359cc0154883481981866,301962360,9,2017-07-03 23:42:45.000000,2017-07-03 22:42:39.000000,40000.0,44000.0,30,NaN,1

In [ ]:
df.describe()

,systemloanid,loannumber,loanamount,totaldue,termdays,good_bad_flag
count,4.368000e+03,4368.000000,4368.000000,4368.000000,4368.000000,4368.000000
mean,3.019810e+08,5.172390,17809.065934,21257.377679,29.261676,0.782051
std,1.343115e+04,3.653569,10749.694571,11943.510416,11.512519,0.412900
min,3.019585e+08,2.000000,10000.000000,10000.000000,15.000000,0.000000
25%,3.019691e+08,2.000000,10000.000000,13000.000000,30.000000,1.000000
50%,3.019801e+08,4.000000,10000.000000,13000.000000,30.000000,1.000000
75%,3.019935e+08,7.000000,20000.000000,24500.000000,30.000000,1.000000
max,3.020040e+08,27.000000,60000.000000,68100.000000,90.000000,1.000000

In [ ]:
df.isnull() # referredby has null values but we shall ignore it for now

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,good_bad_flag
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
4363,False,False,False,False,False,False,False,False,True,False
4364,False,False,False,False,False,False,False,False,True,False
4365,False,False,False,False,False,False,False,False,True,False
4366,False,False,False,False,False,False,False,False,False,False
4367,False,False,False,False,False,False,False,False,True,False

In [ ]:
df2= pd.read_csv('/content/drive/MyDrive/Classroom/capstone_project_data/traindemographics.csv') # load customer demographics dataset
df2.head()

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients
0,8a858e135cb22031015cbafc76964ebd,1973-10-10 00:00:00.000000,Savings,3.319219,6.528604,GT Bank,NaN,NaN,NaN
1,8a858e275c7ea5ec015c82482d7c3996,1986-01-21 00:00:00.000000,Savings,3.325598,7.119403,Sterling Bank,NaN,Permanent,NaN
2,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,5.746100,5.563174,Fidelity Bank,NaN,NaN,NaN
3,8a858efd5ca70688015cabd1f1e94b55,1991-07-19 00:00:00.000000,Savings,3.362850,6.642485,GT Bank,NaN,Permanent,NaN
4,8a858e785acd3412015acd48f4920d04,1982-11-22 00:00:00.000000,Savings,8.455332,11.971410,GT Bank,NaN,Permanent,NaN

In [ ]:
df2.drop(['bank_branch_clients'],axis=1,inplace=True)

In [ ]:
df2.head()

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,employment_status_clients,level_of_education_clients
0,8a858e135cb22031015cbafc76964ebd,1973-10-10 00:00:00.000000,Savings,3.319219,6.528604,GT Bank,NaN,NaN
1,8a858e275c7ea5ec015c82482d7c3996,1986-01-21 00:00:00.000000,Savings,3.325598,7.119403,Sterling Bank,Permanent,NaN
2,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,5.746100,5.563174,Fidelity Bank,NaN,NaN
3,8a858efd5ca70688015cabd1f1e94b55,1991-07-19 00:00:00.000000,Savings,3.362850,6.642485,GT Bank,Permanent,NaN
4,8a858e785acd3412015acd48f4920d04,1982-11-22 00:00:00.000000,Savings,8.455332,11.971410,GT Bank,Permanent,NaN

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4346 entries, 0 to 4345
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customerid                  4346 non-null   object
 1   birthdate                   4346 non-null   object
 2   bank_account_type           4346 non-null   object
 3   longitude_gps               4346 non-null   float64
 4   latitude_gps                4346 non-null   float64
 5   bank_name_clients           4346 non-null   object
 6   employment_status_clients   3698 non-null   object
 7   level_of_education_clients  587 non-null    object
dtypes: float64(2), object(6)
memory usage: 271.8+ KB

In [ ]:
df2.isna().sum()

customerid                       0
birthdate                        0
bank_account_type                0
longitude_gps                    0
latitude_gps                     0
bank_name_clients                0
employment_status_clients      648
level_of_education_clients    3759
dtype: int64

In [ ]:
#Replace the null values in 'employment_status_clients' column with the mode value
mode_value = df2['employment_status_clients'].mode()[0]
df2['employment_status_clients'] = df2['employment_status_clients'].fillna(mode_value)

# Print the DataFrame after imputation
print(df2)

                            customerid                   birthdate  \
0     8a858e135cb22031015cbafc76964ebd  1973-10-10 00:00:00.000000
1     8a858e275c7ea5ec015c82482d7c3996  1986-01-21 00:00:00.000000
2     8a858e5b5bd99460015bdc95cd485634  1987-04-01 00:00:00.000000
3     8a858efd5ca70688015cabd1f1e94b55  1991-07-19 00:00:00.000000
4     8a858e785acd3412015acd48f4920d04  1982-11-22 00:00:00.000000
...                                ...                         ...
4341  8a858f155554552501555588ca2b3b40  1985-12-13 00:00:00.000000
4342  8a858fc65cf978f4015cf97cee3a02ce  1982-07-01 00:00:00.000000
4343  8a858f4f5b66de3a015b66fc83c61902  1989-09-26 00:00:00.000000
4344  8aaae7a74400b28201441c8b62514150  1985-09-06 00:00:00.000000
4345  8a85896653e2e18b0153e69c1b90265c  1975-06-05 00:00:00.000000

     bank_account_type  longitude_gps  latitude_gps bank_name_clients  \
0              Savings       3.319219      6.528604           GT Bank
1              Savings       3.325598      7.119403     Sterling Bank
2              Savings       5.746100      5.563174     Fidelity Bank
3              Savings       3.362850      6.642485           GT Bank
4              Savings       8.455332     11.971410           GT Bank
...                ...            ...           ...               ...
4341             Other       3.236753      7.030168      Stanbic IBTC
4342           Savings       7.013750      4.875662           GT Bank
4343           Savings       6.295530      7.092508           GT Bank
4344           Savings       3.354206      6.539070           GT Bank
4345           Savings       6.661014      7.472700               UBA

     employment_status_clients level_of_education_clients
0                    Permanent                        NaN
1                    Permanent                        NaN
2                    Permanent                        NaN
3                    Permanent                        NaN
4                    Permanent                        NaN
...                        ...                        ...
4341                 Permanent                   Graduate
4342                 Permanent                        NaN
4343                 Permanent                        NaN
4344                 Permanent                    Primary
4345                 Permanent                        NaN

[4346 rows x 8 columns]

In [ ]:
#Replace the Null values in 'level_of_education_clients ' column with Missing
df2['level_of_education_clients'] = df2['level_of_education_clients'].fillna('Missing')
print(df2)

                            customerid                   birthdate  \
0     8a858e135cb22031015cbafc76964ebd  1973-10-10 00:00:00.000000
1     8a858e275c7ea5ec015c82482d7c3996  1986-01-21 00:00:00.000000
2     8a858e5b5bd99460015bdc95cd485634  1987-04-01 00:00:00.000000
3     8a858efd5ca70688015cabd1f1e94b55  1991-07-19 00:00:00.000000
4     8a858e785acd3412015acd48f4920d04  1982-11-22 00:00:00.000000
...                                ...                         ...
4341  8a858f155554552501555588ca2b3b40  1985-12-13 00:00:00.000000
4342  8a858fc65cf978f4015cf97cee3a02ce  1982-07-01 00:00:00.000000
4343  8a858f4f5b66de3a015b66fc83c61902  1989-09-26 00:00:00.000000
4344  8aaae7a74400b28201441c8b62514150  1985-09-06 00:00:00.000000
4345  8a85896653e2e18b0153e69c1b90265c  1975-06-05 00:00:00.000000

     bank_account_type  longitude_gps  latitude_gps bank_name_clients  \
0              Savings       3.319219      6.528604           GT Bank
1              Savings       3.325598      7.119403     Sterling Bank
2              Savings       5.746100      5.563174     Fidelity Bank
3              Savings       3.362850      6.642485           GT Bank
4              Savings       8.455332     11.971410           GT Bank
...                ...            ...           ...               ...
4341             Other       3.236753      7.030168      Stanbic IBTC
4342           Savings       7.013750      4.875662           GT Bank
4343           Savings       6.295530      7.092508           GT Bank
4344           Savings       3.354206      6.539070           GT Bank
4345           Savings       6.661014      7.472700               UBA

     employment_status_clients level_of_education_clients
0                    Permanent                    Missing
1                    Permanent                    Missing
2                    Permanent                    Missing
3                    Permanent                    Missing
4                    Permanent                    Missing
...                        ...                        ...
4341                 Permanent                   Graduate
4342                 Permanent                    Missing
4343                 Permanent                    Missing
4344                 Permanent                    Primary
4345                 Permanent                    Missing

[4346 rows x 8 columns]

In [ ]:
#Check whether there are no more null values
df2.isna().sum()

customerid                    0
birthdate                     0
bank_account_type             0
longitude_gps                 0
latitude_gps                  0
bank_name_clients             0
employment_status_clients     0
level_of_education_clients    0
dtype: int64

In [ ]:
#check for duplicates
df2.duplicated().value_counts()

False    4334
True       12
Name: count, dtype: int64

In [ ]:
df2.drop_duplicates()

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,employment_status_clients,level_of_education_clients
0,8a858e135cb22031015cbafc76964ebd,1973-10-10 00:00:00.000000,Savings,3.319219,6.528604,GT Bank,Permanent,Missing
1,8a858e275c7ea5ec015c82482d7c3996,1986-01-21 00:00:00.000000,Savings,3.325598,7.119403,Sterling Bank,Permanent,Missing
2,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,5.746100,5.563174,Fidelity Bank,Permanent,Missing
3,8a858efd5ca70688015cabd1f1e94b55,1991-07-19 00:00:00.000000,Savings,3.362850,6.642485,GT Bank,Permanent,Missing
4,8a858e785acd3412015acd48f4920d04,1982-11-22 00:00:00.000000,Savings,8.455332,11.971410,GT Bank,Permanent,Missing
...,...,...,...,...,...,...,...,...
4341,8a858f155554552501555588ca2b3b40,1985-12-13 00:00:00.000000,Other,3.236753,7.030168,Stanbic IBTC,Permanent,Graduate
4342,8a858fc65cf978f4015cf97cee3a02ce,1982-07-01 00:00:00.000000,Savings,7.013750,4.875662,GT Bank,Permanent,Missing
4343,8a858f4f5b66de3a015b66fc83c61902,1989-09-26 00:00:00.000000,Savings,6.295530,7.092508,GT Bank,Permanent,Missing
4344,8aaae7a74400b28201441c8b62514150,1985-09-06 00:00:00.000000,Savings,3.354206,6.539070,GT Bank,Permanent,Primary
4345,8a85896653e2e18b0153e69c1b90265c,1975-06-05 00:00:00.000000,Savings,6.661014,7.472700,UBA,Permanent,Missing

In [ ]:
df3 = pd.read_csv("/content/drive/MyDrive/Classroom/capstone_project_data/trainprevloans.csv")
df3.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,closeddate,referredby,firstduedate,firstrepaiddate
0,8a2a81a74ce8c05d014cfb32a0da1049,301682320,2,2016-08-15 18:22:40.000000,2016-08-15 17:22:32.000000,10000.0,13000.0,30,2016-09-01 16:06:48.000000,NaN,2016-09-14 00:00:00.000000,2016-09-01 15:51:43.000000
1,8a2a81a74ce8c05d014cfb32a0da1049,301883808,9,2017-04-28 18:39:07.000000,2017-04-28 17:38:53.000000,10000.0,13000.0,30,2017-05-28 14:44:49.000000,NaN,2017-05-30 00:00:00.000000,2017-05-26 00:00:00.000000
2,8a2a81a74ce8c05d014cfb32a0da1049,301831714,8,2017-03-05 10:56:25.000000,2017-03-05 09:56:19.000000,20000.0,23800.0,30,2017-04-26 22:18:56.000000,NaN,2017-04-04 00:00:00.000000,2017-04-26 22:03:47.000000
3,8a8588f35438fe12015444567666018e,301861541,5,2017-04-09 18:25:55.000000,2017-04-09 17:25:42.000000,10000.0,11500.0,15,2017-04-24 01:35:52.000000,NaN,2017-04-24 00:00:00.000000,2017-04-24 00:48:43.000000
4,8a85890754145ace015429211b513e16,301941754,2,2017-06-17 09:29:57.000000,2017-06-17 08:29:50.000000,10000.0,11500.0,15,2017-07-14 21:18:43.000000,NaN,2017-07-03 00:00:00.000000,2017-07-14 21:08:35.000000

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18183 entries, 0 to 18182
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerid       18183 non-null  object
 1   systemloanid     18183 non-null  int64
 2   loannumber       18183 non-null  int64
 3   approveddate     18183 non-null  object
 4   creationdate     18183 non-null  object
 5   loanamount       18183 non-null  float64
 6   totaldue         18183 non-null  float64
 7   termdays         18183 non-null  int64
 8   closeddate       18183 non-null  object
 9   referredby       1026 non-null   object
 10  firstduedate     18183 non-null  object
 11  firstrepaiddate  18183 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 1.7+ MB

In [ ]:
df3.duplicated().sum()

0

In [ ]:
#merge the three datasets
merged_df = pd.merge(df, df2, on='customerid', how='inner')  # Merge df and df2
merged_data = pd.merge(merged_df, df3, on='customerid', how='inner')  # Merge with df3

print(merged_data)

                             customerid  systemloanid_x  loannumber_x  \
0      8a2a81a74ce8c05d014cfb32a0da1049       301994762            12
1      8a2a81a74ce8c05d014cfb32a0da1049       301994762            12
2      8a2a81a74ce8c05d014cfb32a0da1049       301994762            12
3      8a2a81a74ce8c05d014cfb32a0da1049       301994762            12
4      8a2a81a74ce8c05d014cfb32a0da1049       301994762            12
...                                 ...             ...           ...
13688  8a858fd458639fcc015868eb14b542ad       301967124             8
13689  8a858fd458639fcc015868eb14b542ad       301967124             8
13690  8a858fd458639fcc015868eb14b542ad       301967124             8
13691  8a858fd458639fcc015868eb14b542ad       301967124             8
13692  8a858fd458639fcc015868eb14b542ad       301967124             8

                   approveddate_x              creationdate_x  loanamount_x  \
0      2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000       30000.0
1      2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000       30000.0
2      2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000       30000.0
3      2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000       30000.0
4      2017-07-25 08:22:56.000000  2017-07-25 07:22:47.000000       30000.0
...                           ...                         ...           ...
13688  2017-07-06 21:01:06.000000  2017-07-06 20:01:01.000000       30000.0
13689  2017-07-06 21:01:06.000000  2017-07-06 20:01:01.000000       30000.0
13690  2017-07-06 21:01:06.000000  2017-07-06 20:01:01.000000       30000.0
13691  2017-07-06 21:01:06.000000  2017-07-06 20:01:01.000000       30000.0
13692  2017-07-06 21:01:06.000000  2017-07-06 20:01:01.000000       30000.0

       totaldue_x  termdays_x referredby_x  good_bad_flag  ... loannumber_y  \
0         34500.0          30          NaN              1  ...            2
1         34500.0          30          NaN              1  ...            9
2         34500.0          30          NaN              1  ...            8
3         34500.0          30          NaN              1  ...           10
4         34500.0          30          NaN              1  ...           11
...           ...         ...          ...            ...  ...          ...
13688     34500.0          30          NaN              0  ...            1
13689     34500.0          30          NaN              0  ...            4
13690     34500.0          30          NaN              0  ...            5
13691     34500.0          30          NaN              0  ...            2
13692     34500.0          30          NaN              0  ...            6

                   approveddate_y              creationdate_y  loanamount_y  \
0      2016-08-15 18:22:40.000000  2016-08-15 17:22:32.000000       10000.0
1      2017-04-28 18:39:07.000000  2017-04-28 17:38:53.000000       10000.0
2      2017-03-05 10:56:25.000000  2017-03-05 09:56:19.000000       20000.0
3      2017-06-01 13:34:30.000000  2017-06-01 12:34:21.000000       20000.0
4      2017-06-28 10:58:34.000000  2017-06-28 09:58:25.000000       20000.0
...                           ...                         ...           ...
13688  2016-11-15 20:35:26.000000  2016-11-15 19:35:10.000000       10000.0
13689  2017-02-12 23:18:28.000000  2017-02-12 22:18:22.000000       20000.0
13690  2017-04-12 18:54:51.000000  2017-04-12 17:54:39.000000       20000.0
13691  2016-12-12 23:54:06.000000  2016-12-12 22:53:56.000000       10000.0
13692  2017-05-10 13:22:42.000000  2017-05-10 12:22:35.000000       30000.0

      totaldue_y termdays_y                  closeddate  referredby_y  \
0        13000.0         30  2016-09-01 16:06:48.000000           NaN
1        13000.0         30  2017-05-28 14:44:49.000000           NaN
2        23800.0         30  2017-04-26 22:18:56.000000           NaN
3        24500.0         30  2017-06-25 15:24:06.000000           NaN
4        24500.0         30  2017-07-25 08:14:36.000000           NaN
...          ...        ...                         ...           ...
13688    13000.0         30  2016-12-06 13:18:11.000000           NaN
13689    23800.0         30  2017-03-11 00:44:47.000000           NaN
13690    23800.0         30  2017-05-10 09:13:03.000000           NaN
13691    13000.0         30  2017-01-11 00:02:13.000000           NaN
13692    34500.0         30  2017-06-02 21:05:56.000000           NaN

                     firstduedate             firstrepaiddate
0      2016-09-14 00:00:00.000000  2016-09-01 15:51:43.000000
1      2017-05-30 00:00:00.000000  2017-05-26 00:00:00.000000
2      2017-04-04 00:00:00.000000  2017-04-26 22:03:47.000000
3      2017-07-03 00:00:00.000000  2017-06-25 15:13:56.000000
4      2017-07-31 00:00:00.000000  2017-07-25 08:04:27.000000
...                           ...                         ...
13688  2016-12-15 00:00:00.000000  2016-12-06 13:03:00.000000
13689  2017-03-14 00:00:00.000000  2017-03-11 00:29:36.000000
13690  2017-05-12 00:00:00.000000  2017-05-10 08:57:53.000000
13691  2017-01-11 00:00:00.000000  2017-01-10 23:47:04.000000
13692  2017-06-09 00:00:00.000000  2017-06-02 20:55:47.000000

[13693 rows x 28 columns]

In [ ]:
merged_data.tail()

,customerid,systemloanid_x,loannumber_x,approveddate_x,creationdate_x,loanamount_x,totaldue_x,termdays_x,referredby_x,good_bad_flag,...,loannumber_y,approveddate_y,creationdate_y,loanamount_y,totaldue_y,termdays_y,closeddate,referredby_y,firstduedate,firstrepaiddate
13688,8a858fd458639fcc015868eb14b542ad,301967124,8,2017-07-06 21:01:06.000000,2017-07-06 20:01:01.000000,30000.0,34500.0,30,NaN,0,...,1,2016-11-15 20:35:26.000000,2016-11-15 19:35:10.000000,10000.0,13000.0,30,2016-12-06 13:18:11.000000,NaN,2016-12-15 00:00:00.000000,2016-12-06 13:03:00.000000
13689,8a858fd458639fcc015868eb14b542ad,301967124,8,2017-07-06 21:01:06.000000,2017-07-06 20:01:01.000000,30000.0,34500.0,30,NaN,0,...,4,2017-02-12 23:18:28.000000,2017-02-12 22:18:22.000000,20000.0,23800.0,30,2017-03-11 00:44:47.000000,NaN,2017-03-14 00:00:00.000000,2017-03-11 00:29:36.000000
13690,8a858fd458639fcc015868eb14b542ad,301967124,8,2017-07-06 21:01:06.000000,2017-07-06 20:01:01.000000,30000.0,34500.0,30,NaN,0,...,5,2017-04-12 18:54:51.000000,2017-04-12 17:54:39.000000,20000.0,23800.0,30,2017-05-10 09:13:03.000000,NaN,2017-05-12 00:00:00.000000,2017-05-10 08:57:53.000000
13691,8a858fd458639fcc015868eb14b542ad,301967124,8,2017-07-06 21:01:06.000000,2017-07-06 20:01:01.000000,30000.0,34500.0,30,NaN,0,...,2,2016-12-12 23:54:06.000000,2016-12-12 22:53:56.000000,10000.0,13000.0,30,2017-01-11 00:02:13.000000,NaN,2017-01-11 00:00:00.000000,2017-01-10 23:47:04.000000
13692,8a858fd458639fcc015868eb14b542ad,301967124,8,2017-07-06 21:01:06.000000,2017-07-06 20:01:01.000000,30000.0,34500.0,30,NaN,0,...,6,2017-05-10 13:22:42.000000,2017-05-10 12:22:35.000000,30000.0,34500.0,30,2017-06-02 21:05:56.000000,NaN,2017-06-09 00:00:00.000000,2017-06-02 20:55:47.000000